@mixin set($direction: "row", $justify: "flex-start", $align-items: "stretch", $align-content: "normal", $inline: false, $wrap: "nowrap") {
    @if $inline == true {
        display: inline-flex;
    }
    @else {
        display: flex;
    }
    
    flex-direction: unquote($direction);
    justify-content: unquote($justify);
    align-items: unquote($align-items);
    align-content: unquote($align-content);
    flex-wrap: unquote($wrap);
}
