@use "./Resources/Styles/Base/Configs/sizes";

@mixin create($cols: 2, $rows: 0, $size: min-content, $gap: sizes.$gap-m) {
    display: grid;

    @if $cols != 0 {
        grid-template-columns: repeat($cols, unquote($size));
    }

    @if $rows != 0 {
        grid-template-columns: repeat($rows, unquote($size));
    }

    @if $gap != 0 {
        grid-gap: $gap;
    }

    @content;
}

@mixin stretch-item-horizontal($columns: 2) {
    grid-column-end: span $columns;
}

@mixin stretch-item-vertical($rows: 2) {
    grid-row-end: span $rows;
}