@use "./Resources/Styles/Base/Configs/sizes" as size;

@mixin set($top: 0, $right: 0, $bottom: 0, $left: 0) {

    @if $top != 0 {
        margin-top: $top;
    }

    @if $right != 0 {
        margin-right: $right;
    }

    @if $bottom != 0 {
        margin-bottom: $bottom;
    }

    @if $left != 0 {
        margin-left: $left;
    }
}

@mixin set-x($gap) {
    margin-right: $gap;
    margin-left: $gap;
}

@mixin set-y($gap) {
    margin-top: $gap;
    margin-right: $gap;
}

@mixin set-all($gap) {
    margin: $gap;
}
